@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    @apply bg-80-darkblue;
  }
  p {
    @apply mb-6;
  }
}
@layer components {
  .retro-text-shadow {
    text-shadow: 3px 3px 83px #d430e5, 6px 8px 0 #9f00fd, 10px -8px 0 #de016a;
  }
  .retro-text-shadow-2 {
    text-shadow: 3px 3px 83px #d430e5, 6px 8px 0 #9f00fd;
  }
  .prose h1 {
    @apply text-80-hotpink font-head italic;
  }
  .prose h2,
  .prose h3,
  .prose h4 {
    @apply text-white font-head italic;
  }
  .prose p,
  .prose li,
  .prose strong {
    @apply text-white font-mono;
  }

  .embed {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
  }
  .embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}
